$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brandPrimary: #FCFCFC;
$brandText: #23B5D3;
$brandText: #A393BF;
$brandPrimary: #071013;
$brandSecondary: #061E22;
$brandSecondary: #9882AC;

h1 {
    color: $brandPrimary;
}