$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brand1: #FCFCFC;
$brand2: #23B5D3;
$brand3: #A393BF;
$brand4: #071013;
$brand5: #061E22;
$brand6: #9882AC;

h1 {
    color: $brand1;
}