@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brandText: #FCFCFC;
$brandHeader: #071013;
$brandPrimary: #4ECDC4;
$brandSecondary: #42BFDD;

.homeContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    h1 {
        color: $brandText;
    }

    input {
        border-color: $brandText;
        border-radius: 5px;
        border-width: 1px;
        padding: 10px 5px;
        font-size: 18px;
        outline-width: 1px;
        outline-color: $brandPrimary;
        background: $brandSecondary;
        color: $brandPrimary;
    }

    input:focus {
        outline-color: $brandSecondary;
    }

    button {
        width: 100px;
        height: 35px;
        border-radius: 20px;
        margin-top: 15px;
        border-style: none;
        background-color: $brandText;
        color: #fff;
        font-size: 18px;
    }
}

.messageContainer {
    margin-bottom: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: $brandSecondary;
    border-radius: 10px;
}

.unauth-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;

    h1 {
        color: $brandPrimary;
        font-family: 'Lato', sans-serif;
    }

    p {
        color: $brandPrimary;
    }
}

@media (max-width: 480px) {
    .homeContainer {
        width: 80%;
    }
}