$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brandText: #FCFCFC;
$brandHeader: #071013;
$brandPrimary: #23B5D3;
$brandSecondary: #EBFFEB;

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        color: $brandText;
        font-size: 32px;
    }

    label {
        color: $brandPrimary;
        font-size: 24px;
        margin-top: 5%;
    }

    input {
        border-color: $brandText;
        border-radius: 5px;
        border-width: 1px;
        background: $brandSecondary;
        color: $brandPrimary;
    }

    input:focus {
        outline-width: 1px;
        outline-color: $brandSecondary;
    }
}

.auth-container {
    width: 80%;
    margin: 0 auto;

    p {
        font-size: 24px;
        color: $brandText;
    }
}

.btn-form {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin-top: 15px;
    border-style: none;
    background-color: $brandText;
    color: #fff;
    font-size: 18px;
}

.log-label {
    color: $brandText;
    font-size: 24px;
}

@media (max-width: 480px) {
    .loginContainer {
        width: 80%;
    }
}