$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brand1: #FCFCFC;
$brand2: #23B5D3;
$brand3: #A393BF;
$brand4: #071013;
$brand5: #061E22;
$brand6: #9882AC;

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    h1 {
        color: $brand3;
        font-size: 32px;
    }

    label {
        color: $brand1;
        font-size: 24px;
        margin-top: 5%;
    }

    input {
        border-color: $brand2;
        border-radius: 5px;
        border-width: 1px;
        background: $brand5;
        color: $brand1;
    }

    input:focus {
        outline-width: 1px;
        outline-color: $brand6;
    }
}

.auth-container {
    width: 80%;
    margin: 0 auto;

    p {
        font-size: 24px;
        color: $brand3;
    }
}

.btn-form {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin-top: 15px;
    border-style: none;
    background-color: $brand2;
    color: #fff;
    font-size: 18px;
}

.log-label {
    color: $brand3;
    font-size: 24px;
}

@media (max-width: 480px) {
    .loginContainer {
        width: 80%;
    }
}