$brand1: #FCFCFC;
$brand2: #23B5D3;
$brand3: #A393BF;
$brand4: #071013;
$brand5: #061E22;
$brand6: #67527A;

$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

.otherCard {
    display: flex;
    flex-direction: row;
    min-width: 10%;
    align-self: flex-start;
    max-width: 30%;
}

.authorCard {
    display: flex;
    flex-direction: row;
    min-width: 10%;
    align-self: flex-end;
    max-width: 30%;
}

.other {
    background-color: $brand3;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin: 1% 10px;
    animation: slideLeftAnimation 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.author {
    background-color: $brand6;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin: 1% 10px;
    align-self: flex-end;
    animation: slideRightAnimation 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.author-name {
    color: $brand2;
}

@keyframes slideLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transfrom: translateX(0%);
    }
}

@keyframes slideRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transfrom: translateX(0%);
    }
}