$brandText: #FCFCFC;
$brandHeader: #071013;
$brandPrimary: #23B5D3;
$brandSecondary: #EBFFEB;

$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

nav {
    background: $brandText;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
       
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-top: 0;

        li {
            margin: 0 20px;

            a {
                text-decoration: none;
                color: $brandPrimary;
            }

            a:active {
                color: $brandText;
            }
        }

    }
}

@media (max-width: 480px) {
    nav {
        justify-content: space-evenly;

        ul {
            li {
                margin: 0 15px;
            }
        }
    }
}