$brand1: #FCFCFC;
$brand2: #23B5D3;
$brand3: #A393BF;
$brand4: #071013;
$brand5: #061E22;
$brand6: #9882AC;

$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

nav {
    background: $brand2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
       
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-top: 0;

        li {
            margin: 0 20px;

            a {
                text-decoration: none;
                color: $brand1;
            }

            a:active {
                color: $brand3;
            }
        }

    }
}

@media (max-width: 480px) {
    nav {
        justify-content: space-evenly;

        ul {
            li {
                margin: 0 15px;
            }
        }
    }
}