$tabletWidth: 768px;
$phoneWidth: 480px;
$medLaptop: 992px;
$largeLaptop: 1200px;

$brandText: #FCFCFC;
$brandHeader: #071013;
$brandPrimary: #23B5D3;
$brandSecondary: #EBFFEB;

.registerContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    h1 {
        color: $brandSecondary;
        font-size: 32px;
    }

    p {
        color: $brandPrimary;
    }

    label {
        color: $brandPrimary;
        font-size: 24px;
        margin-top: 5%;
    }

    input {
        border-color: $brandText;
        border-radius: 5px;
        border-width: 1px;
        background: $brandSecondary;
        color: $brandPrimary;
    }

    input:focus {
        outline-width: 1px;
        outline-color: $brandSecondary;
    }
}

.btn-form {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin-top: 30px;
    border-style: none;
    background-color: $brandText;
    color: #fff;
    font-size: 18px;
}

.reg-label {
    font-size: 24px;
    color: $brandText;
}

@media (max-width: $phoneWidth) {
    .registerContainer {
        width: 80%;
    }
}